<div style="text-align: center">
     <img src="data:image/png;base64,{{imageBase64}}" />
    <div>
        <h2>
            Ticket {{numTicket}}
        </h2>
        <p>Ticket criado com sucesso pelo usuário {{to}}</p>
        Para mais informações entre em 
        <a href="mailto:orderFlow.Suport@gmail.com?subject=Ticket {{numTicket}}">contato</a> com o nosso time de suporte. 
        <br>
        {{date}} - Campinas / SP
    </div>
</div>